* {
  box-sizing: border-box;
}
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  text-align: center;
  color: lightcyan;
  background-color: #fa3474;
}

header h1 {
  margin: 0
}

footer {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: small;
  color: #fefefe;
  background-color: #fb96bb;
}

footer a {
  color: #fefefe;
  text-decoration: none;
}

#app {
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: x-large;
  line-height: 160%;
  color: #2c3e50;
  background-color: #ffc;
}

.project-selector {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(10rem, 1fr));
}

.project-selector .project {
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.4s;
}
.project-selector  .project:hover {
  background-color: yellow;
}
.project-selector .project.active {
  color: blue;
  background-color: #ffccccc0;
}
